@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("/Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow-y: hidden;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: aliceblue;
}
